In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
GEI = pd.read_csv('Genger_equality_index_clean.csv')

In [5]:
GEI.head(10)

,Unnamed: 0,year,Country,Gender Equality Index,WORK,Participation,Segregation and quality of work,MONEY,Financial resources,Economic situation,...,Population without unmet needs for medical examination (%) T,Population without unmet needs for dental examination (%) T,Population (number) W,Population (number) M,Population (number) T,Population (%) W,Population (%) M,Population (%) T,"People doing cooking and/or housework, every day (%) W","People doing cooking and/or housework, every day (%) M"
0,1,2005,AT,59.493698,73.746640,77.009121,70.622374,82.467848,71.921479,94.560708,...,98.0,97.4,3.429571e+06,3.156787e+06,6.586358e+06,0.520708,0.479292,1.0,NaN,NaN
1,2,2005,BE,66.015660,71.033628,72.269560,69.818833,81.307800,73.875268,89.488112,...,99.0,97.2,4.275415e+06,4.003552e+06,8.278967e+06,0.516419,0.483581,1.0,NaN,NaN
2,3,2005,BG,56.034705,67.283091,77.931781,58.089451,54.346225,33.524652,88.099711,...,74.9,72.5,3.282615e+06,3.044971e+06,6.327586e+06,0.518778,0.481222,1.0,NaN,NaN
3,4,2005,CY,45.932332,66.272406,78.509500,55.942680,72.609277,60.525166,87.106033,...,94.0,86.6,2.862013e+05,2.669037e+05,5.531050e+05,0.517445,0.482555,1.0,NaN,NaN
4,5,2005,CZ,53.560715,65.325624,79.600581,53.610629,70.247950,50.643599,97.441229,...,92.8,94.8,4.299258e+06,3.995629e+06,8.294887e+06,0.518302,0.481698,1.0,NaN,NaN
5,6,2005,DE,60.047863,68.135481,75.554186,61.445223,83.302563,73.746263,94.097201,...,83.1,86.9,3.492685e+07,3.274962e+07,6.767648e+07,0.516086,0.483914,1.0,NaN,NaN
6,7,2005,DK,74.582734,78.863634,88.492815,70.282235,82.712322,71.170790,96.125507,...,98.8,94.4,2.147248e+06,2.059915e+06,4.207162e+06,0.510379,0.489621,1.0,NaN,NaN
7,8,2005,EE,52.203479,71.031004,87.184928,57.870134,58.357734,41.432670,82.196612,...,90.7,84.8,5.951867e+05,4.918733e+05,1.087060e+06,0.547520,0.452480,1.0,NaN,NaN
8,9,2005,EL,46.830306,62.523323,68.042957,57.451440,71.925047,62.193115,83.179824,...,93.6,93.0,4.560640e+06,4.378136e+06,8.938776e+06,0.510209,0.489791,1.0,NaN,NaN
9,10,2005,ES,62.171865,68.112330,70.885819,65.447357,73.627584,63.508704,85.358711,...,93.6,90.7,1.825205e+07,1.740858e+07,3.566064e+07,0.511826,0.488174,1.0,NaN,NaN

In [10]:
GEI.groupby('Country')['Gender Equality Index'].mean()

Country
AT       61.618740
BE       69.423132
BG       56.946941
CY       51.386466
CZ       55.032143
DE       63.989573
DK       75.936547
EE       55.120696
EL       49.346061
ES       66.874373
EU-28    64.882329
FI       73.180381
FR       69.759873
HR       52.778986
HU       51.272610
IE       67.159995
IT       56.824079
LT       55.430453
LU       65.944717
LV       56.487352
MT       58.161511
NL       72.159565
PL       55.365871
PT       54.777848
RO       51.755599
SE       80.965256
SI       65.255828
SK       52.889217
UK       70.492678
Name: Gender Equality Index, dtype: float64

In [13]:
GEI.describe()

,Unnamed: 0,year,Gender Equality Index,WORK,Participation,Segregation and quality of work,MONEY,Financial resources,Economic situation,KNOWLEDGE,...,Population without unmet needs for medical examination (%) T,Population without unmet needs for dental examination (%) T,Population (number) W,Population (number) M,Population (number) T,Population (%) W,Population (%) M,Population (%) T,"People doing cooking and/or housework, every day (%) W","People doing cooking and/or housework, every day (%) M"
count,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,...,116.000000,116.000000,1.160000e+02,1.160000e+02,1.160000e+02,116.000000,116.000000,116.0,29.000000,29.000000
mean,73.000000,2011.800000,61.421339,70.959074,80.212974,63.037149,76.269021,66.160817,88.756785,59.453380,...,93.091441,92.227894,1.451553e+07,1.349344e+07,2.800897e+07,0.519835,0.480165,1.0,77.665517,33.637931
std,42.001984,4.180975,8.759869,4.572814,6.856365,5.989834,9.351766,13.613186,5.751646,7.497175,...,5.360487,5.250275,3.837006e+07,3.567452e+07,7.404421e+07,0.012230,0.012230,0.0,7.841842,14.442532
min,1.000000,2005.000000,45.932332,60.762404,51.396510,53.100000,53.217922,33.524652,76.100000,43.401726,...,70.700000,71.000000,1.600323e+05,1.541830e+05,3.142153e+05,0.502076,0.445801,1.0,55.800000,11.900000
25%,37.000000,2010.000000,54.100000,67.488017,77.500000,58.100000,70.247950,55.700000,84.400000,54.300000,...,91.200000,89.883929,1.694970e+06,1.611602e+06,3.339178e+06,0.511401,0.476892,1.0,75.300000,19.700000
50%,73.000000,2012.000000,59.900000,71.400000,80.300000,61.800000,78.600000,69.600000,89.300000,58.200000,...,94.350000,93.700000,3.788782e+06,3.700463e+06,7.489245e+06,0.517848,0.482152,1.0,80.500000,33.500000
75%,109.000000,2015.000000,68.400000,73.800000,84.408215,69.600000,83.700000,77.082376,93.300000,65.400000,...,96.725000,95.750000,8.571496e+06,7.927747e+06,1.649924e+07,0.523108,0.488599,1.0,81.700000,47.400000
max,145.000000,2017.000000,83.600000,83.000000,95.700000,74.494334,94.400000,97.000000,98.700000,75.760230,...,99.700000,99.300000,2.137843e+08,1.993409e+08,4.131252e+08,0.554199,0.497924,1.0,88.700000,57.200000